<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="cassie.ink" />
<link rel="manifest" href="/site.webmanifest" />
{{ if .IsPage }}
  <meta name="description" content="{{ .Summary | plainify }}">
  <!-- Open Graph stuff -->
    {{ with .Params.cover }}
      <meta property="og:image" content="{{ . }}" />
    {{ end }}
{{ else }}
    <meta name="description" content="Hi, my name is Cassie. This is my personal blog and home of the esoteric bullshit that I am incomprehensibly fixated on, which includes books, video games, music, and thinking way too much about everything.">
{{ end }}
<meta name="fediverse:creator" content="@cass@social.lol" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}