{{ define "main" }}
  {{ .Content }}
  {{ range first 5 (where .Site.RegularPages "Type" "in" (slice "posts" "week-notes")) }}
    <article>
      <time>
        {{ .PublishDate.Format "2 January 2006" }}
      </time>
      <h2 class="title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <div class="barcode">
        {{ .Params.url }}
      </div>
      <a href="{{ .RelPermalink }}">
      {{ with .Params.cover }}
        <div class="cover">
          <img src="{{ . }}" />
          <div class="overlay"></div>
        </div>
      {{ end }}
      </a>
      <div class="summary">
        {{ .Summary }} 
      </div>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
  {{ end }}
{{ end }}
