/* variables - color scheme https://coolors.co/772334-1291a9-231f20-f4f4f4-bfd53e */
:root {
  --text: #231f20;
  --text-10: rgba(35, 31, 32, .1);
  --background: #f4f4f4;
  --background-shade: #e8e8e8;
  --background-shade-lighter: #efefef;
  --blue: #117A92;
  --claret: #117A92;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f4f4f4;
    --text-10:  rgba(244, 244, 244, .1);
    --background: #231f20;
    --background-shade: #1f1b1c;
    --background-shade-lighter: #1f1c1d;
    --blue: #1595B2;
    --claret: #1595B2;
  }
}

/* basics */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Domaine Text', serif;
  line-height: 1.5;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: thin dotted var(--blue);
}

sup {
  vertical-align: top;
  
  a {
    border: none;
  }
}

.highlight {
  max-width: 900px;
  font-size: 1rem;
}

.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0.5% 1.5%;
}

table {
  border: 1px solid var(--blue);
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  th {
    border: 1px solid var(--blue);
  }

  tr {
    
  }

  td {
    border: 1px solid var(--blue);
    padding: 5px 10px;
  }
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-style: italic;
  font-weight: normal;

  a {
    color: var(--text);
    border: none;
  }

  svg {
    color: var(--blue);
    width: 10px;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  li:not(:last-child) {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
    text-align: center;
  }
}

/* home, page, section - common */
.home time::after, .page time::after, .page.books .author::after {
  content: ' ';
  background: var(--text);
  width: 150px;
  height: 1px;
  display: block;
  margin: 2% auto 0 auto;
  opacity: .4;
}

.home article h2, .page h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin: 2% 0;
  line-height: 1.2;
  word-spacing: .3rem;
}

@media only screen and (max-width: 600px) {
  .home article h2, .page h1, .home article h2 a {
    font-size: 2rem !important;
  }
}

.home article time, .page time, .page.books .author {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.75rem;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home article time, .page time {
    font-size: 1.25rem;
  }
}

.home .barcode, .page .barcode {
  font-family: 'Libre Barcode', sans-serif;
  font-size: 2rem;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 600px) {
  .home .barcode, .page .barcode {
    font-size: 1rem;
  }
}

.tags ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

  li {
    display: flex;

    svg {
      margin-right: 5px;
      margin-left: 5px;
    }

    a {
      color: var(--text);
      text-decoration: none;
      border-bottom: medium dotted var(--text);
    }
  }

  li:not(:last-child):after {
    content: '';
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .tags ul {
    display: block;
  }

  .tags ul li {
    justify-content: center;
  }
}

.home article {
  border-bottom: 2px solid var(--text-10);
  padding: 7.5% 0;
}

@media only screen and (max-width: 600px) {
  .home blockquote {
    margin: 0;
  }
}

/* home */
.home article h2 a {
      text-decoration: none;
      border: none;
      color: var(--text);
      font-size: 3rem;
}

.home article h2:not(:first-child), .home article h1:not(:first-child) {
  font-size: 2rem;
  color: var(--claret);
  text-align: left;
  text-transform: uppercase;
}

.home article h2:first-of-type {
  text-align: center;
}

.home article .summary {

  p {
  }

  h2 {
    display: none;
  }
}

.home .all {
  text-align: center;
  margin-top: 7.5%;

  a {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.75rem;
    display: inline-flex;
    align-items: baseline;
    gap: 5px;
  }
}

/* page */
.page article {
  padding-top: 7.5%
}

.page article p, .page article ul {
  font-size: 1.25rem;
}

.page article li {
  margin-bottom: 10px;
}

.page article li::marker {
  color: var(--blue);
}

.page article blockquote {
  margin: 0;
  padding: 2.5% 5%;
  background-color: var(--background-shade);
  
  p {
    font-size: 1rem;
  }
}

.page pre {
  
}

.page article h2, h3 {
  font-size: 2rem;
  color: var(--claret);
  font-family: 'Domaine Display', Georgia, serif;
  text-transform: uppercase;
  text-align: center;
}

.page article hr {
  border-top: 2px solid var(--text-10);
  color: var(--background);
  margin-top: 5%;
  margin-bottom: 5%;
}

.page article .footnotes {
  margin: 10% 0;
}

.page article .footnotes, .page article .footnotes p {
  font-size: 1rem;
}

.page article .footnotes a {
  border: none;
}

.page article .footnotes hr {
  display: none;
}

.page article img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.page article img[src$='#album'] {
  float: left;
  width: 300px;
  margin-right: 25px;
}

@media only screen and (max-width: 700px) {
  .page article img[src$='#album'] {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
    float: none;
  }

}

.cover {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  img {
    transition: all 0.5s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--blue);
  }
}

.cover:hover .overlay {
  opacity: .25;
}

.cover:hover img {
  scale: 1.2;
}

.about h1 {
  color: var(--blue);
}

.about .cover {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* books */
.page.books {
  .info {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 275px auto;
    grid-template-rows: auto 1fr;

    .bookcover {
      grid-row: span 2 / span 2;
      max-height: 400px;
      width: 250px;
      overflow: hidden;
      border-radius: 15px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .meta {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-flex;
        background-color: var(--background-shade-lighter);
        border: 1px solid var(--background-shade);
        padding: 2%;
        border-radius: 15px;
        font-size: .9rem;

        .label {
          font-weight: bold;
          text-transform: lowercase;
          margin-right: 5px;
        }
      }
    }

    .content {
      grid-column-start: 2;
      grid-row-start: 2;

      .summary {
        font-style: italic;
        margin-bottom: 1%;
        background-color: var(--background-shade-lighter);
        border: 1px solid var(--background-shade);
        padding: 2%;
        border-radius: 15px;
      }

      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.section.books {
  #read {
    margin-top: 2%;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;

    a {
      background-color: var(--background-shade-lighter);
      border: 1px solid var(--background-shade);
      width: 30%;
      box-sizing: border-box;      
      border-radius: 15px;
      padding: 2%;
      color: var(--text);
      transition: all 0.5s ease;
      margin-bottom: 2%;
    }

    a:hover {
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
      scale: 1.05;
      transition: all 0.25s ease;
    }
  }

  article {
    display: inline;
    border-bottom: none;

    .bookcover {
      height: 250px;
      overflow: hidden;
      text-align: center;
      margin-bottom: 2%;

      img {
        object-fit: contain;
        border-radius: 15px;
        height: 100%;
      }
    }

    .title {
      color: var(--blue);
      font-family: 'Domaine Display', Georgia, serif;
      font-weight: 900;
      font-style: italic;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
    }

    .author {
      text-align: center;
      font-style: italic;
      margin-bottom: 2%;
      display: block;
    }

    .meta {
      padding: 0;
      margin: 2% 0 0 0;
      list-style-type: none;
      

      li, .time {
        display: inline;
        font-size: .8rem;
        font-style: normal;
        text-transform: capitalize;
        color: var(--blue);
      }
    }

    .barcode {
      font-family: 'Libre Barcode', sans-serif;
      font-size: 1.5rem;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }

    .summary {
      
    }
  }

  p {
    font-size: .8rem;
    margin-top: 4%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .section.books #read a {
    width: 40%;
  }
}

@media only screen and (max-width: 499px) {
  .section.books #read a {
    width: 100%;
    margin-bottom: 2%;
  }
}



/* Shortcodes */
.page .audio {

  audio {
    display: block;
    margin: auto;
  }

  figcaption {
    text-align: center;
    font-family: monospace;
    font-size: .9rem;
    font-style: italic;
  }
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;
}

.box {
  background-color: var(--blue);
  color: #fff;
  padding: 2%;

  .label {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 5px;
  }
}

figcaption {
  text-align: center;
  font-size: .9rem;
  font-style: italic;
}

/* pagination */
    .pagination {
      list-style-type: none;
      padding: 7.5% 0 0 0;
      display: flex;
      justify-content: center;
      gap: 40px;
      font-family: 'Domaine Display', Georgia, serif;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25rem;
    }

    @media only screen and (max-width: 600px) {
      .pagination {
        gap: 20px;
      }
    }


    .pagination__item a {
      border: none;
    }

    .pagination__item--current a {
      font-weight: 900;
      color: var(--text);
    }

    .pagination__item svg {
      width: 18px;
    }

/* tag, section, & archive page */
.term h1, .section h1, .archive h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: var(--claret);
  margin: 0;
  padding-top: 7.5%
}

.archive h2.year {
  color: var(--blue);
  font-weight: 900;
  font-family: 'Domaine Display', Georgia, serif;
  font-size: 2rem;
}

.archive h2.year:not(:first-of-type) {
  padding-top: 5%;
}

.term article, .section article, .page.archive article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-10);
  padding: 2% 0;

  h2 {
    margin: 0;
    font-size: 1.3rem;
    width: 80%;
    text-align: left;
    text-transform: none;
    font-weight: 400;

    a {
      color: var(--text);
      border: none;
    }
  }

  time {
    font-weight: normal;
    font-style: italic;
    width: 200px;
    font-size: 1rem;
    text-align: left;
    display: inline;
    text-transform: uppercase;
  }

  time::after {
    display: none;
  }
}

/* archive filter */
#filter {

  h2 {
    text-align: center;
    margin: 0;
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2%;
  }

  li {
    font-size: 1.25rem;
  }

}


/* footer */
footer {
  margin-top: 10%;
}

footer nav {
  text-align: center;

  a {
    font-weight: 100;
  }
}

footer .social {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    border-bottom: none;
  }

  svg {
    transform: scale(1.75);
  }

  li:not(:last-child) {
    margin-right: 35px;
  }
}

footer .forget {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  footer .forget {
    font-size: 1.25rem;
  }
}

footer .copyright {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

/* comments */
comments button {
  border: none;
  font-size: 1.25em;
  font-family: 'Domaine Text', Georgia, serif;
  background-color: var(--blue);
  color: var(--background);
  padding: 1% 2%;
  cursor: pointer;
}

.page comments {
  .comment {
    display: grid;
    column-gap: 1%;
    grid-template-columns: min-content;
    justify-items: start;
    grid-template-areas:
      "avatar name"
      "avatar time"
      "avatar post"
      "...... interactions";
      padding-top: 0;

    .avatar-link {
      grid-area: avatar;
      height: 4rem;
      position: relative;
      width: 4rem;
      border: none;

      .avatar {
        height: 100%;
        width: 100%;
        border-radius: 4rem;
      }
    }

    time a {
      font-size: 1rem;
      font-style: normal;
      grid-area: time;
      text-decoration: none;
      border: none;
      text-transform: uppercase;
      color: var(--text);
      opacity: .75;
    }

    time::after {
      display: none;
    }

    .author {
      align-items: center;
      display: flex;
      grid-area: name;
      font-size: 1.2rem;

      .instance {
        font-weight: normal;
        color: var(--text);
        border: none;
      }

      .instance::before {
        content: '@';
      }
    }

    footer {
      grid-area: interactions;
      margin-top: 0;
      width: 100%;
      text-align: right;

      a.faves {
        text-decoration: none;
        border-bottom: none;
      }

      a.faves::before {
        content: '♡';
        margin-right: 5px;
      }
    }

    main {
      background-color: var(--background-shade);
      width: 100%;
      padding: 1% 2%;
      border-radius: 10px;
    }
  }
  .comment-reply {
    margin-left: 10%;
  }
}

comments #comments-wrapper .comment time {
  margin-top: -10px;
}