/* variables - color scheme https://coolors.co/772334-1291a9-231f20-f4f4f4-bfd53e */
:root {
  --text: #231f20;
  --background: #f4f4f4;
  --background-shade: #e8e8e8;
  --blue: #117A92;
  --claret: #117A92;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f4f4f4;
    --background: #231f20;
    --background-shade: #1f1b1c;
    --blue: #1595B2;
    --claret: #1595B2;
  }
}

/* basics */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Domaine Text', serif;
  line-height: 1.5;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: thin dotted var(--blue);
}

sup {
  vertical-align: top;
  
  a {
    border: none;
  }
}

.highlight {
  max-width: 900px;
  font-size: 1rem;
}

.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0.5% 1.5%;
}

code {
}

table {
  border: 1px solid var(--blue);
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  th {
    border: 1px solid var(--blue);
  }

  tr {
    
  }

  td {
    border: 1px solid var(--blue);
    padding: 5px 10px;
  }
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-style: italic;
  font-weight: normal;

  a {
    color: var(--text);
    border: none;
  }

  svg {
    color: var(--blue);
    width: 10px;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  li:not(:last-child) {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
    text-align: center;
  }
}

/* home, page, section - common */
.home time::after, .page time::after, .section time::after {
  content: ' ';
  background: var(--text);
  width: 150px;
  height: 1px;
  display: block;
  margin: 2% auto 0 auto;
}

.home article h2, .page h1, .section article h2 {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin: 2% 0;
  line-height: 1.2;
  word-spacing: .3rem;
}

@media only screen and (max-width: 600px) {
  .home article h2, .page h1, .section article h2 {
    font-size: 2rem;
  }
}

.home article time, .page time, .section article time {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.75rem;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home article time, .page time, .section article time {
    font-size: 1.25rem;
  }
}

.home .barcode, .page .barcode, .section .barcode {
  font-family: 'Libre Barcode', sans-serif;
  font-size: 2rem;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 600px) {
  .home .barcode, .page .barcode, .section .barcode {
    font-size: 1rem;
  }
}

.tags ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

  li {
    display: flex;

    svg {
      margin-right: 5px;
      margin-left: 5px;
    }

    a {
      color: var(--text);
      text-decoration: none;
      border-bottom: medium dotted var(--text);
    }
  }

  li:not(:last-child):after {
    content: '';
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .tags ul {
    display: block;
  }

  .tags ul li {
    justify-content: center;
  }
}

.home article {
  border-top: 1px dotted var(--text);
  padding: 7.5% 0;
}

.home article:first-of-type {
  border: none;
}

@media only screen and (max-width: 600px) {
  .home blockquote, .section blockquote {
    margin: 0;
  }
}

/* home */
.home article h2 a {
      text-decoration: none;
      border: none;
      color: var(--text);
      font-size: 3rem;
}

.home article h2:not(:first-child), .home article h1:not(:first-child) {
  font-size: 2rem;
  color: var(--claret);
  text-align: left;
  text-transform: uppercase;
}

.home article h2:first-of-type {
  text-align: center;
}

.home article .jump {
  text-transform: uppercase;
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 700;
  display: flex;
  justify-content: center;

  svg {
    width: 20px;
    margin-right: 5px;
  }
}

.home .all {
  text-align: center;

  a {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.75rem;
  }

  svg {
    margin-left: 10px;
  }
}

/* page */
.page article {
  padding-top: 7.5%
}

.page article p, .page article ul {
  font-size: 1.25rem;
}

.page article li {
  margin-bottom: 10px;
}

.page article li::marker {
  color: var(--blue);
}

.page article blockquote {
  margin: 0;
  padding: 2.5% 5%;
  background-color: var(--background-shade);
  
  p {
    font-size: 1rem;
  }
}

.page pre {
  
}

.page article h2, h3 {
  font-size: 2rem;
  color: var(--claret);
  font-family: 'Domaine Display', Georgia, serif;
  text-transform: uppercase;
  text-align: center;
}

.page article hr {
  border-top: 1px solid var(--text);
  color: var(--background);
  width: 350px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.page article .footnotes {
  margin: 10% 0;
}

.page article .footnotes, .page article .footnotes p {
  font-size: 1rem;
}

.page article .footnotes a {
  border: none;
}

.page article .footnotes hr {
  display: none;
}

.page article img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.page .audio {

  audio {
    display: block;
    margin: auto;
  }

  figcaption {
    text-align: center;
    font-family: monospace;
    font-size: .9rem;
    font-style: italic;
  }
}

.cover {
  width: 100%;
  height: 100vw;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
}

/* section */
.section article h2 a {
  text-decoration: none;
  border: none;
  color: var(--text);
}

.section h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: var(--claret);
}

.section article:first-of-type {
  padding-top: 0;
}

.section article {
  border-bottom: 1px dotted var(--text);
  padding: 7.5% 0;
}

  /* pagination */
    .pagination {
      list-style-type: none;
      padding: 7.5% 0 0 0;
      display: flex;
      justify-content: center;
      gap: 40px;
      font-family: 'Domaine Display', Georgia, serif;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25rem;
    }

    @media only screen and (max-width: 600px) {
      .pagination {
        gap: 20px;
      }
    }


    .pagination__item a {
      border: none;
    }

    .pagination__item--current a {
      font-weight: 900;
      color: var(--text);
    }

    .pagination__item svg {
      width: 18px;
    }

/* tag page */
.term h1 {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: var(--claret);
  margin: 0;
  padding-top: 7.5%
}

.term article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--text);
  padding: 2.5% 0;

  h2 {
    margin: 0;
    font-family: 'Domaine Display', Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 80%;

    a {
      color: var(--text);
      border: none;
    }
  }

  time {
    font-family: 'Domaine Display', Georgia, serif;
    font-weight: normal;
    font-style: italic;
  }
}


/* footer */
footer {
  margin-top: 10%;
}

footer .social {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    border-bottom: none;
  }

  svg {
    transform: scale(1.75);
  }

  li:not(:last-child) {
    margin-right: 35px;
  }
}

footer .forget {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  footer .forget {
    font-size: 1.25rem;
  }
}

footer .copyright {
  font-family: 'Domaine Display', Georgia, serif;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}