/* Domaine Display Black */
@font-face {
    font-family: "Domaine Display Black";
    src: url("DomaineDisplayBlack.woff2")format("woff2");
    font-weight: 900;
    font-style: normal;
}

/* Domaine Text */
@font-face {
    font-family: "Domaine Text";
    src: url("DomaineTextRegular.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Domaine Text";
    src: url("DomaineTextRegularItalic.woff2")format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Domaine Text";
    src: url("DomaineTextBold.woff2")format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Domaine Text";
    src: url("DomaineTextBoldItalic.woff2")format("woff2");
    font-weight: bold;
    font-style: italic;
}