name: Build Hugo and Publish as Release

on: [ push, workflow_dispatch ]

jobs:
  buiild:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

    - name: Setup Hugo
        env:
          HUGO_VERSION: latest
        run: |
          mkdir ~/hugo
          cd ~/hugo
          curl -L "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.tar.gz" --output hugo.tar.gz
          tar -xvzf hugo.tar.gz
          sudo mv hugo /usr/local/bin

    - name: Publish to Webspace
        uses: wangyucode/sftp-upload-action@v1.4.8
        with:
          host: ${{ secrets.NFSN_HOSTNAME }}
          username: ${{ secrets.NFSN_USERNAME }}
          password: ${{ secrets.NFSN_PASSWORD }}
          dryRun: false
          forceUpload: true
          localDir: './dist'
          remoteDir: ${{ secrets.WEBSPACE_PATH }}